/*----- Text Color & Background Color ------*/
.text-primary{
    color: $primary-color
}

.text-light{
    color: $light-color
}

.text-medium{
    color: $medium-color
}

.bg-light{
    background: $light-color;
}

.bg-dark{
    background: $dark-color;
}


/*----- Button ------*/
.btn{
    display: inline-block;
    font-size: 18px;
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    
}

.btn-primary{
    background: $primary-color;
}

/*------ Padding & Margin -------*/
.p-2{
    padding: 2rem;
}
.p-5{
    padding: 5rem;
}
.px-1{
    padding: 0 1.2rem;
}
.px-5{
    padding: 0 5rem;
}
.py-1{
    padding: 1.2rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-5{
    padding: 5rem 0;
}
.py-7{
    padding: 7rem 0;
}

/*------  ------*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}

.h-100{
    min-height: 100vh;
}
.h-70{
    min-height: 70vh;
}


.fs-1{
    font-size: 1.2rem;
}
.fs-3{
    font-size: 3.2rem;
}

.fw-bold{
    font-weight: bold;
}
